In [10]:
import pandas as pd
import os

def getRelPath(BASE_PATH, PROCESSED_PATH, SUB_PATH):
    return BASE_PATH + PROCESSED_PATH + SUB_PATH

parse_dates=['Date']

eth_data = pd.read_csv('raw_data/ETH-USD.csv', parse_dates=parse_dates)
display(eth_data)

,Date,Open,High,Low,Close,Volume,sentiment,Price_change
0,2016-01-01,0.933712,0.954822,0.931442,0.948024,2.060620e+05,0.126414,Increased
1,2016-01-02,0.947401,0.969637,0.936560,0.937124,2.555040e+05,0.033182,Decreased
2,2016-01-03,0.938430,0.991362,0.934313,0.971905,4.076320e+05,0.463693,Increased
3,2016-01-04,0.972045,0.976438,0.929835,0.954480,3.462450e+05,0.289360,Decreased
4,2016-01-05,0.953147,0.970597,0.946543,0.950176,2.198330e+05,0.326331,Decreased
...,...,...,...,...,...,...,...,...
2013,2021-07-10,2146.999756,2190.124023,2081.923584,2111.403564,1.758154e+10,-0.000196,Decreased
2014,2021-07-11,2110.875732,2172.653320,2083.803711,2139.664795,1.470539e+10,0.242708,Increased
2015,2021-07-12,2140.506836,2167.710205,2011.018921,2036.721069,1.776813e+10,0.218251,Decreased
2016,2021-07-13,2034.098389,2040.693604,1922.577881,1940.083984,1.662163e+10,0.425282,Decreased
2017,2021-07-14,1941.167847,2015.107422,1869.223145,1994.331299,1.734282e+10,0.087310,Increased